@import 'components/headernav';
@import 'components/landing';
@import 'components/shop';

header {
    background-image: url('../images/monuments.jpg');
    background-position: left top;
    background-size: cover;
}